



.btn-space {
    margin-left: 2rem;
}

.error {
    background-color: rgb(255, 179, 179);
    border: solid 1px red;
}

.service-btn {
    margin-top: 1rem;
}

.form-div {
    margin: 1rem 0;
}

.carousel .carousel-item {
    max-height:550px;
}

.carousel-item img {
    max-height:550px;
}

.img-1 {
    object-fit: contain;
}

.img-2 {
    object-fit: contain;
}

.img-3 {
    object-fit: contain;
}

